# {{ ansible_managed }}
{% macro params(name, vals) %}
{% for v in vals %}-{{ name }} {{ v }} {% endfor %}
{% endmacro %}
[Unit]
After=docker.service
PartOf=docker.service
Requires=docker.service

[Service]
{% if env is defined %}
EnvironmentFile={{ sysconf_dir }}/{{ service_name }}
{% endif %}
ExecStartPre=-/usr/bin/docker rm -f {{ service_name }}
ExecStart=/usr/bin/docker run --name {{ service_name }} --rm {% if env is defined %}--env-file {{ sysconf_dir }}/{{ service_name }} {% endif %}{{ params('v', volumes) }}{{ params('p', ports) }}{{ params('-link', links) }}{{ params('l', labels) }}{{ args | default('') |trim }} {{ image }} {{ cmd | default('') | trim }}
ExecStop=/usr/bin/docker stop {{ service_name }}

SyslogIdentifier={{ service_name }}
Restart=always

[Install]
WantedBy=docker.service
